<div class="fetchIng flex-center" *ngIf="fetchIng; else done">
  <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>

<ng-template #done>
  <div id="xiejiahe">
    <app-icon-git></app-icon-git>

    <router-outlet></router-outlet>

    @defer (when createWebLoaded) {
      <app-create-web
        [initialCreateWeb]="pendingCreateWeb"
        [initialSetCreateWeb]="pendingSetCreateWeb"
        (ready)="createWebReady = true"
      />
    }

    @defer (when deleteModalLoaded) {
      <app-delete-modal
        [initialDeleteModal]="pendingDeleteModal"
        (ready)="deleteModalReady = true"
      />
    }

    @defer (when moveWebLoaded) {
      <app-move-web
        *ngIf="isLogin"
        [initialMoveWeb]="pendingMoveWeb"
        (ready)="moveWebReady = true"
      />
    }

    @defer (when editClassLoaded) {
      <edit-class
        *ngIf="isLogin"
        [initialEditClass]="pendingEditClass"
        (ready)="editClassReady = true"
      />
    }
  </div>
</ng-template>
